/* CSS for ReturnTitle component */
.return-title-container{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-inline: 0.5rem;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index:20;

    *{
        margin-inline: 0.5rem
    }

    h3{
       margin-block: 0.6rem; 
    }
    
}

.return-title-btn{
    border: 2px solid rgba(var(--primary));
    border-radius: 100%;
    padding: 0;
    background: rgba(var(--secondary), 0.8);
    backdrop-filter: blur(3px);
    transform: translateY(0.3rem);
    cursor: pointer;
    width: 45px;
    height: 45px;
    z-index: 30;
    position: fixed;
    left: 1rem;
    top: 1.5rem;
    *{
        transform: translateX(-1px) translateY(0.5px);
    }
}
.return-title-shadow{
    position: fixed;
    width: 100%;
    z-index: 15;
    box-shadow: 0px 10px 65px 70px rgba(var(--bg-color));
}

.return-title-safe-area{
    margin-bottom: 6rem;
    height: 2px;
}