/* CSS for ImagePreview component */
.image-preiew-container {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all ease-in 250ms;
    opacity: var(--preview-opacity)
}

.image-remove-btn {
    height: 30px;
    width: 30px;
    justify-content: center;
    background: rgba(var(--secondary), 0.3);
    backdrop-filter: blur(5px);
    border: 2px solid rgb(var(--primary));
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 30px;
    transform: translate(0.2rem,-0.6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-preview {
    max-width: 90vw;
    height: auto;
    border: 1px solid rgba(var(--primary));
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 5px rgba(var(--secondary));
    overflow: hidden;
}
