.link-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-inline: 0.5rem;
    cursor: pointer;
}

li {
    color: inherit;
    font-weight: bold;
}